.header{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    /* display: flex;
    flex: 1; */
    /* flex-direction: column;
    justify-content: space-around;
    align-items: center; */
    margin: 0 25px;
}